:root {
  /*Background color when it's turned off*/
  --vc-off-color: #d1d3d4;

  /*Background color when it's turned on*/
  --vc-on-color: #38cf5b;
  
  /*Animation speed and type*/
  --vc-animation-speed: 0.15s ease-out;

  /*Font used by the text*/
  --vc-font-family: Arial;
  
  /*Small switch width*/
  --vc-width-small: 50px;

  /*Small switch height*/
  --vc-height-small: 25px;

  /*Small switch without text width*/
  --vc-width-no-text-small: 40px;

  /*Medium switch width*/
  --vc-width-medium: 60px;

  /*Medium switch height*/
  --vc-height-medium: 30px;

  /*Medium switch without text width*/
  --vc-width-no-text-medium: 50px;

  /*Big switch width*/
  --vc-width-big: 76px;

  /*Big switch height*/
  --vc-height-big: 38px;

  /*Big switch without text width*/
  --vc-width-no-text-big: 66px;

  /*Border radius for the handle*/
  --vc-border-radius: 20px;
  
  /*Shadow for the handle*/
  --vc-handle-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  
  /*Handle color*/
  --vc-handle-color: white;
}

.vc-toggle-container * {
  font-family: var(--vc-font-family);
  font-size: var(--vc-font-size);
  -webkit-transition: var(--vc-animation-speed);
  -moz-transition: var(--vc-animation-speed);
  -o-transition: var(--vc-animation-speed);
  transition: var(--vc-animation-speed);
}

.vc-small-switch {
  width: var(--vc-width-small);
  height: var(--vc-height-small);
}

.vc-small-switch.no-text {
  width: var(--vc-width-no-text-small);
}

.vc-medium-switch {
  width: var(--vc-width-medium);
  height: var(--vc-height-medium);
}

.vc-medium-switch.no-text {
  width: var(--vc-width-no-text-medium);
}

.vc-big-switch {
  width: var(--vc-width-big);
  height: var(--vc-height-big);
}

.vc-big-switch.no-text {
  width: var(--vc-width-no-text-big);
}

.vc-toggle-container label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 18px;
  cursor: pointer;
}

.vc-switch-input {
  position: absolute;
  transform: translate3d(5px, 5px, 0);
}

.vc-switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  background: var(--vc-off-color);
  border-radius: inherit;
}

.vc-switch-label:before,
.vc-switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1.1;
}

.vc-switch-label:before {
  content: attr(data-off);
  color: white;
}

.vc-switch-label:after {
  content: attr(data-on);
  color: white;
  opacity: 0;
}

.vc-switch-label.vc-small:before {
  right: 12px;
}

.vc-switch-label.vc-small:after {
  left: 11px;
}

.vc-switch-label.vc-medium:before {
  right: 15px;
}

.vc-switch-label.vc-medium:after {
  left: 14px;
}

.vc-switch-label.vc-big:before {
  right: 20px;
}

.vc-switch-label.vc-big:after {
  left: 18px;
}

.vc-switch-input:checked ~ .vc-switch-label {
  background: var(--vc-on-color);
}
.vc-switch-input:checked ~ .vc-switch-label:before {
  opacity: 0;
}
.vc-switch-input:checked ~ .vc-switch-label:after {
  opacity: 1;
}

.vc-handle {
  position: absolute !important;
  top: 5px;
  left: 5px;
  background: var(--vc-handle-color);
  border-radius: var(--vc-border-radius);
  box-shadow: var(--vc-handle-shadow);
}

.vc-handle.vc-small {
  width: 15px;
  height: 15px;
}

.vc-handle.vc-medium {
  width: 20px;
  height: 20px;
}

.vc-handle.vc-big {
  width: 28px;
  height: 28px;
}

.vc-handle:before {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute !important;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

.vc-switch-label:active ~ .vc-handle.vc-small, .vc-handle.vc-small:active {
  width: 30px;
}

.vc-switch-label:active ~ .vc-handle.vc-medium, .vc-handle.vc-medium:active {
  width: 40px;
}

.vc-switch-label:active ~ .vc-handle.vc-big, .vc-handle.vc-big:active {
  width: 56px;
}

.vc-switch-input:checked ~ .vc-handle {
  left: unset;
  right: 5px;
}
